{% extends base_template %}

{% block sideBar %}
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li class = "active"><a href="searchJobLoc">Search By Location<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-map-marker"></span></a></li>
        <li><a href="searchJobKey">Search By Keywords<span style="font-size:16px;" class="pull-right hidden-xs showopacity 	glyphicon glyphicon-text-size"></span></a></li>
        </ul>
    </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-sm-6">
            <span>Search By Location</span>
            <form action="searchJobLoc" method="get">
                <div id="imaginary_container"> 
                    <div class="input-group stylish-input-group">
                        {% csrf_token %}
                        <input type="text" class="form-control"  placeholder="Search" name="keyword">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
<br>

<hgroup class="mb20">
    <h1> Job You Might Interest </h1>
    <p> Job Count : {{info}}</p>
</hgroup>
{% for job in jobList %}
    <article class="search-result row">
        <div class="col-xs-10 col-sm-10 col-md-4" style="border-right: 1px dotted #ccc; min-height: 140px;">
            <ul class="meta-search" style="list-style-type: none;">
                <li><i class="glyphicon glyphicon-usd"></i> <span>{{ job.salary }}</span></li>
                <li><i class="glyphicon glyphicon-map-marker"></i> <span>{{ job.company_id.address }}</span></li>
                <li><i class="glyphicon glyphicon glyphicon-lock"></i> <span>{{ job.company_id.name }}</span></li>
            </ul>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-6 excerpet">
            <h3 style="color:#248dc1;">{{ job.role }}</h3>
            <p>{{ job.description }}</p>
            <span class="plus pull-right"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
        </div>
        <span class="clearfix borda"></span>
    </article>
{% endfor %}

{% endblock %}
